<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <title>Crypto Wallet</title>
            <link rel="stylesheet" href="/static/main.css">
        </head>

        <body>


        <div id="app">

            <button @click="getWallet">Connect to MetaMask</button>
                <h2>Wallet Address</h2>
                <p>[[ walletAddress[0] ]]</p>
            
                <h3>Network</h3>
            <div v-for="each in listOfsupporteProtocals">
                <ul>[[ each.network ]]</ul>
            </div>

                <h3>Wallet Coins</h3>
            <div v-for="coin in walletCoins">
                <ul> [[ coin.symbol ]] | [[ coin.balance]] = $[[ coin.balanceUSD ]] </ul>
            </div>

                <h3>Staked Coins</h3>
            <div v-for="coin in stakedCoins">
                <ul> [[ coin.symbol ]] | [[ coin.balance]] = $[[ coin.balanceUSD ]] </ul>
            </div>

                <h3>Net Worth: $[[ netWorth ]]</h3>


        
        </div>



            <script src="https://unpkg.com/vue"></script>

            <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
            <!-- <script src="https://unpkg.com/web3/dist/web3.min.js"></script> -->
            
            <script src="/static/main.js"></script>

            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.1/mdb.min.js"></script>

        </body>
    
        </html>



        