<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <title>Crypto Wallet</title>
            <link  rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
            <link rel="stylesheet" href="/static/main.css">
        </head>
        <body>
            <!-- authentications -->
                {%csrf_token%}
                {% if user.is_authenticated %}
                <!-- vue.js -->
                    <div id="app">
                        <div class="d-flex" id="wrapper">
                            <!-- side menu bar -->
                                <div class="bg rounded border-end border-1 border-secondary" id="sidebar-wrapper">
                                    <!-- top button -->
                                        <div class="sidebar-heading text-center">
                                            <button class="btn btn-lg" role="button" v-if="walletAddress.length === 0" @click="getWallet">Connect MetaMask</button>
                                            <button class="btn btn-lg" role="button" disabled v-else=> <img src="/static/images/metamask.png" width="50" alt="Wallet Connected"> Connected </button>
                                        </div>
                                    <!-- end of button -->
                                    <!-- side menu bar items -->
                                        <div class="list-group list-group-flush my-3">
                                            <a href="#" class="list-group-item list-group-item-action bg-transparent second-text active">
                                                <i class="fas fa-tachometer-alt me-2"></i>Dashboard</a>
                                            <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
                                                <i class="fas fa-project-diagram me-2"></i>Compare</a>
                                            <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
                                                <i class="fas fa-chart-line me-2"></i>News</a>
                                        </div>
                                    <!-- end of side menu bar items -->
                                </div>
                            <!-- end of side menu bar -->
                            <!-- page content -->
                                <div id="page-content-wrapper">
                                    <!-- navbar -->
                                        <nav class="navbar navbar-expand-lg navbar-light bg-transparent py-4 px-4" >
                                            <!-- user wallet address -->
                                                <div class="d-flex align-items-center">
                                                    <i class="fas fa-align-left primary-text fs-4 me-3" id="menu-toggle"></i>
                                                    <h2 class="fs-2 m-0">[[ userWallet.slice(0, 6) ]]...</h2>
                                                </div>
                                            <!-- end of user wallet address -->
                                            <!-- navbar button to hide side menu bar -->
                                                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                                    <span class="navbar-toggler-icon"></span>
                                                </button>
                                            <!-- end of navbar button to hide side menu bar -->
                                            <!-- drop down menu on nav bar -->
                                                <div class="collapse navbar-collapse" id="navbarSupportedContent" >
                                                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                                                        <li class="nav-item dropdown">
                                                            <a class="nav-link dropdown-toggle second-text fw-bold" style="color: rgb(215, 205, 221)" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                                <i class="fas fa-user me-3"></i> {{ user.username }}
                                                            </a>
                                                            <!-- items on navbar on drop down menu -->
                                                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                                    <li><a class="dropdown-item" href="#">Change Wallet</a></li>
                                                                    <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                                                                </ul>
                                                            <!-- end of items on navbar on drop down menu -->
                                                        </li>
                                                    </ul>
                                                </div>
                                            <!-- end of drop down menu on nav bar -->
                                        </nav>
                                    <!-- end of nav bar -->
                                    <!-- content after navbar -->
                                        <div class="container-fluid px-4">
                                            <!-- net worth box -->
                                                <div class="row g-3 my-2 mb-4">
                                                    <div class="col-md-3">
                                                        <div class="p-3 d-flex justify-content-around align-items-center rounded border border-2" style="border-color: rgba(215, 205, 221, 0.336)" >
                                                            <div>
                                                                <h3 class="fs-2">$[[ netWorth.toLocaleString(undefined, { minimumFractionDigits: 2,  maximumFractionDigits: 2 }) ]]</h3>
                                                                <p class="fs-5">Net Worth</p>
                                                            </div>
                                                            <i class="fas fa-cash-register fs-1 primary-text border rounded-full p-3" style="color: rgb(215, 205, 221)"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            <!-- beginning of cards -->
                                                <div v-if="!(walletAddress.length === 0)" class="card bg-transparent">
                                                    <!-- cards nav  -->
                                                        <ul class="nav nav-tabs mb-3" id="ex1" role="tablist">
                                                            <li class="nav-item " role="presentation">
                                                                <a class="nav-link active text-muted bg-transparent"  id="ex1-tab-1" data-mdb-toggle="tab" href="#ex1-tabs-1" role="tab"
                                                                aria-controls="ex1-tabs-1" aria-selected="true" >Portfolio</a>
                                                            </li>
                                                            <li class="nav-item" role="presentation">
                                                                <a class="nav-link text-muted bg-transparent" id="ex1-tab-2" data-mdb-toggle="tab" href="#ex1-tabs-2" role="tab"
                                                                aria-controls="ex1-tabs-2" aria-selected="false">History</a>
                                                            </li>
                                                        </ul>
                                                    <!-- end of cards nav  -->
                                                    <!-- cards content -->
                                                        <div class="tab-content" id="ex1-content">
                                                            
                                                            <!-- first card -->
                                                                <div class="tab-pane fade show active" id="ex1-tabs-1" role="tabpanel" aria-labelledby="ex1-tab-1">
                                                                    <div class="row">
                                                                        <!-- walletCoins -->
                                                                        <h3 class="fs-4 mb-3">Wallet</h3>
                                                                        <div class="col">
                                                                            <table class="table table-bordered table-hover"  style="border-color:rgb(215, 205, 221); color: rgb(215, 205, 221)">
                                                                                <tbody v-for="coin in walletCoins">
                                                                                    <tr>
                                                                                        <td >[[ coin.symbol ]] $[[ coin.price.toLocaleString(undefined, { minimumFractionDigits: 2,  maximumFractionDigits: 2 }) ]]</td>
                                                                                        <td >[[ coin.balance.toFixed(3)]] $[[ coin.balanceUSD.toLocaleString(undefined, { minimumFractionDigits: 2,  maximumFractionDigits: 2 }) ]] </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                        <!-- end of walletCoins -->
                                                                        <!-- stakedCoins -->
                                                                        <h3 class="fs-4 mb-3">Vault</h3>
                                                                        <div class="col">
                                                                            <table class="table table-bordered table-hover"  style="border-color:rgb(215, 205, 221); color: rgb(215, 205, 221)">
                                                                                <tbody v-for="coin in stakedCoins">
                                                                                    <tr>
                                                                                        <td >[[ coin.symbol ]] $[[ coin.price.toLocaleString(undefined, { minimumFractionDigits: 2,  maximumFractionDigits: 2 }) ]]</td>
                                                                                        <td >[[ coin.balance.toFixed(3)]] $[[ coin.balanceUSD.toLocaleString(undefined, { minimumFractionDigits: 2,  maximumFractionDigits: 2 }) ]] </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                        <!-- end of stakedCoins -->               
                                                                        <!-- networks -->
                                                                        <h3 class="fs-4 mb-3">Networks</h3>
                                                                        <div class="col">
                                                                            <table class="table table-bordered table-hover"  style="border-color:rgb(215, 205, 221); color: rgb(215, 205, 221)">
                                                                                <tbody v-for="coin in listOfsupporteProtocals">
                                                                                    <tr>
                                                                                        <td >[[ coin.network[0].toUpperCase() + coin.network.substring(1) ]]</td>
                                                                                        <td >$[[ coin.balance.toLocaleString(undefined, { minimumFractionDigits: 2,  maximumFractionDigits: 2 }) ]] </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                        <!-- end of networks -->
                                                                    </div>
                                                                </div>
                                                            <!-- end of first card -->
                                                            <!-- second card -->
                                                                
                                                            <div class="tab-pane fade show active" id="ex1-tabs-2" role="tabpanel" aria-labelledby="ex1-tab-1">
                                                                    
                                                                    <h3 class="fs-4 mb-3">Networks</h3>
                                                                    <div class="col">
                                                                        <table class="table table-bordered table-hover"  style="border-color:rgb(215, 205, 221); color: rgb(215, 205, 221)">
                                                                            <tbody v-for="coin in listOfsupporteProtocals">
                                                                                <tr>
                                                                                    <td >[[ coin.network[0].toUpperCase() + coin.network.substring(1) ]]</td>
                                                                                    <td >$[[ coin.balance.toLocaleString(undefined, { minimumFractionDigits: 2,  maximumFractionDigits: 2 }) ]] </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            <!-- end of second card -->
                                                        </div>
                                                    <!-- end of cards content -->
                                                </div>
                                            <!-- end of cards beginning of cards -->
                                        </div>
                                    <!--end of content after navbar -->
                                </div>
                            <!-- end of page content -->
                        </div>
                    </div>
                <!-- end of vue.js -->
                
                {% else %}
                <h1>Welcome, visitor!</h1>
                <p>You are not logged in. <a href="{% url 'login' %}">Login</a> <a href="{% url 'users:signup' %}">Sign Up</a></p>
                {% endif %}
            <!-- end of authetification -->
            <!-- scripts -->
                <script src="https://unpkg.com/vue"></script>
                <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
                <script src="/static/main.js"></script>
                <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.1/mdb.min.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>
                <script>
                        var el = document.getElementById("wrapper");
                        var toggleButton = document.getElementById("menu-toggle");
                            toggleButton.onclick = function () {
                            el.classList.toggle("toggled");
                            };
                    </script>
            <!-- end of scripts -->
        </body>
        <footer></footer>
    </html>