<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <title>Crypto Wallet</title>
            <link rel="stylesheet" href="/static/main.css">
        </head>

        <body>


        <div id="app">

            <button @click="loadWallet">Connect to MetaMask</button>
                <p> [[ walletAddress[0] ]] </p>
            
            
            <div v-if="EthereumCoins">
                <div v-for="coin in EthereumCoins">
                    <p> Network: [[ coin.network ]]</p>
                    <p> [[ coin.symbol ]] | [[ coin.balance]] = $[[ coin.balanceUSD ]] </p>
                </div>
            <p>-----------------------------------------------------</p>
            </div> 
            <div v-if="PolygonCoins">
                <div v-for="coin in PolygonCoins">
                    <p> Network: [[ coin.network ]]</p>
                    <p> [[ coin.symbol ]] | [[ coin.balance]] = $[[ coin.balanceUSD ]] </p>
                </div>
            <p>-----------------------------------------------------</p>
            </div>
            <div v-if="OptimismCoins">
                <div v-for="coin in OptimismCoins">
                    <p> Network: [[ coin.network ]]</p>
                    <p> [[ coin.symbol ]] | [[ coin.balance]] = $[[ coin.balanceUSD ]] </p>
                </div>
            <p>-----------------------------------------------------</p>
            </div>
            <div v-if="XdaiCoins">
                <div v-for="coin in XdaiCoins">
                    <p> Network: [[ coin.network ]]</p>
                    <p> [[ coin.symbol ]] | [[ coin.balance]] = $[[ coin.balanceUSD ]] </p>
                </div>
            <p>-----------------------------------------------------</p>
            </div>
            <div v-if="BinanceCoins">
                <div v-for="coin in BinanceCoins">
                    <p> Network: [[ coin.network ]]</p>
                    <p> [[ coin.symbol ]] | [[ coin.balance]] = $[[ coin.balanceUSD ]] </p>
                </div>
            <p>-----------------------------------------------------</p>
            </div>
            <div v-if="FantomCoins">
                <div v-for="coin in FantomCoins">
                    <p> Network: [[ coin.network ]]</p>
                    <p> [[ coin.symbol ]] | [[ coin.balance]] = $[[ coin.balanceUSD ]] </p>
                </div>
            <p>-----------------------------------------------------</p>
            </div> 
            <div v-if="AvalancheCoins">
                <div v-for="coin in AvalancheCoins">
                    <p> Network: [[ coin.network ]]</p>
                    <p> [[ coin.symbol ]] | [[ coin.balance]] = $[[ coin.balanceUSD ]] </p>
                </div>
            <p>-----------------------------------------------------</p>
            </div>
            <div v-if="ArbitrumCoins">
                <div v-for="coin in ArbitrumCoins">
                    <p> Network: [[ coin.network ]]</p>
                    <p> [[ coin.symbol ]] | [[ coin.balance]] = $[[ coin.balanceUSD ]] </p>
                </div>
            <p>-----------------------------------------------------</p>
            </div>
            <div v-if="CeloCoins">
                <div v-for="coin in CeloCoins">
                    <p> Network: [[ coin.network ]]</p>
                    <p> [[ coin.symbol ]] | [[ coin.balance]] = $[[ coin.balanceUSD ]] </p>
                </div>
            <p>-----------------------------------------------------</p>
            </div>
            <div v-if="HarmonyCoins">
                <div v-for="coin in HarmonyCoins">
                    <p> Network: [[ coin.network ]]</p>
                    <p> [[ coin.symbol ]] | [[ coin.balance]] = $[[ coin.balanceUSD ]] </p>
                </div>
            <p>-----------------------------------------------------</p>
            </div>

        
        </div>



            <script src="https://unpkg.com/vue"></script>

            <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
            <!-- <script src="https://unpkg.com/web3/dist/web3.min.js"></script> -->
            
            <script src="/static/main.js"></script>

            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.1/mdb.min.js"></script>

        </body>
    
        </html>



        